<!-- Header start -->
<header class="header">
    <div class="container d-flex align-items-center">
      <div class-="w-padding-5" style="display: inline;">
        <a class="logo" href="/">
            <img src="assets/images/logo-product.png" alt="">
        </a>
        
      </div>
      <span class="home-title-font w-margin-left-50 d-none d-lg-block">{{apptitle | uppercase}}</span>
      <nav class="primary-menu text-md-right">
        
      </nav>
    </div>
  </header>
  <!-- Header end -->
  